*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Raleway', sans-serif;
}

#conteneur
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#logo
{
    width:  90px;
    height: 30px;
    margin-top: 50px;
    margin-left: 55px;
}

nav
{
    display: flex;
    flex-flow: row wrap;
    font-family:'Raleway', sans-serif; 
    font-size: 12px;
}

.element
{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 49px 20px 0 20px;
    border-top: 2px solid transparent;
}

.element:hover
{
    transform: scale(1);
}

.element-1
{
    color: #0065fc;
    border-top-color: #0065fc;
}

.element-2
{
    color: black;
}

.element-3
{
    margin-right: 50px;
    padding-right: 0px;
    color: #0065fc;
}

a
{
    text-decoration: none;
}

#conteneur2
{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#Marseille 
{
    display: flex;
    flex-flow: row nowrap;
}

.element2
{
    margin-top: 25px;
    margin-left: 55px;
}

.element2:nth-of-type(1)
{
    font-size: 17px;
    font-weight: bold;
}

.element2:nth-of-type(2)
{
    margin-top: 10px;
    font-size: 13px;
}

form
{
    display: flex;
    margin-left: 55px;
    margin-top: 25px;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: max-content;
}

.recherche
{
    height: 50px;
}

.recherche::placeholder
{
    color: black;
    font-weight: bold;
    padding-left: 17px;
    padding-right: 70px;
    font-family:'Raleway', sans-serif;
}

#choix
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

input
{
    margin-left: 0px;
    font-size: 15px;
    text-align: center;
    border: none;
}

.recherche-1
{
    background-color: #0065fc;
    color: #fff;
    height: 50px;
    font-size: 15px;
    border: none;
    border-left: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: scale(1.04);
}

.recherche-2
{
    padding-left: 18px;
    padding-right: 17px;
}

.fas.fa-search
{
    display: none;
}

.fa-map-marker-alt
{
    font-size: 16px;
    padding: 15px 15px 16.5px 16px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #f2f2f2;
    transform: scale(1.05);
}

#filtre
{
    margin-top: 50px;
    margin-left: 65px;
    font-size: 15px;
    font-weight: bold;
}

.filtre
{
    margin-top: 30px;
    font-weight: bold;
    background-color: #fff;
    color: black;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
}

.filtre:hover
{
    transform: scale(1.10);
    background-color: #f2f2f2;
    color: #0065fc;
}

#filtre-container
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 950px;
    flex-flow: row wrap;
}

.espace
{
    margin-left: 14px;
    margin-right: 22px;
    position: relative;
    bottom: 2px;
    font-family:'Raleway', sans-serif;
}

.fas.fitericon
{
    display: inline-block;
    height: 50px;
    width: 50px;
    color: #0065fc;
    background-color: #deebff;
    font-size: 16px;
    border-radius: 50%;
    transform: translate(-3px, -2px);
    line-height: 50px;
}

#info
{
    width: 100%;
    margin-left: 55px;
    margin-top: 40px;
    font-size: 13px;
    display: flex;
    align-items: flex-start;
}

#info-2
{
    font-family: 'Bree Serif', serif;
    border: 1px solid #ededed;
    border-radius: 100%;
    margin-right: 10px;
    padding: 2px 9px;
    color: #0065fc;
}

.logement
{
    display: inline-block;
    padding-top: 5px;
}

#container
{
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px;
    justify-content: space-between;
}

#hebergement
{   margin-left: 50px;
    width: calc(100% - 600px);
    border-radius: 10px;
    background-color: #f2f2f2;
}

#title-hebergement 
{
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 45px;
}

#bloc-hebergement 
{
    display: flex;
    flex-flow: row wrap;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;
    margin-top: 25px;
}

.carte-hebergement
{
    display: flex;
    flex-flow: column nowrap;
    width: 245px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #d9d9d9;
}

.lodging:hover,
#bloc-activity .card:hover
{
    transform: scale(1.05);
    color: black;
}

.carte-1
{
    /*margin-top: 25px;*/
    margin-bottom: 30px;
}

.carte_2-3
{
    /*margin-top: 25px;*/
    margin-bottom: 30px;
}

.carte-4
{
    /*margin-top: 30px;*/
}

.carte_5-6
{
    /*margin-top: 30px;*/
}

.photo-hebergement
{
    margin-left: 5px;
    margin-right: 5px; 
    margin-top: 5px;
    width: auto; 
    height: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.hostel-name
{
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 15px;
    color: black;
}

.prix-hebergement
{
    font-size: 12px;
    margin-top: 8px;
    margin-left: 15px;
    color: black;
}

.gras
{
    font-weight: bold;
}

.fa-star
{
    font-size: 10px;
    color: #0065fc;
    margin-left: 1px;
    margin-top: 10px;
}

.star1
{
    margin-left: 15px;
}

.stargrey
{
    color: #d9d9d9;
}

.plus-hebergement,
.plus-hebergement:hover,
.plus-hebergement:active,
.plus-hebergement:focus
{
    display: inline-block;
    margin-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

#popular
{
    display: flex;
    flex-flow: column nowrap;
    margin-right: 50px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

#title-popular
{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 40px;
}

.fas.fa-chart-line
{
    margin-right: 40px;
}

#picture
{
    display: flex;
    flex-flow: column wrap;
    width: 345px;
    margin-top: 25px;
    margin-left: 37px;
    margin-right: 40px;
}

.carte-polular
{
    display: flex;
    flex-flow: row wrap;
    width: 345px;
    height: 145px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #d9d9d9;
}

.popular-2
{
    margin-top: 35px;
}

.popular-3
{
    margin-top: 35px;
    margin-bottom: 35px;
}

.photo-popular
{
    width: 130px;
    height: 135px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

.description-popular
{
    display: flex;
    flex-flow: column;
    margin-left: 20px;
    justify-content: space-between;
}

.popular-name
{
    font-size: 14px;
    font-weight: bold;
    /*margin-top: 20px;*/
    padding-top: 20px;
    color: black;
}

.prix-popular
{
    font-size: 12px;
    /*margin-top: 10px;*/
    margin-bottom: 10px;
    color: black;

}

.etoile-popular
{
    /*margin-top: 40px;*/
    padding-bottom: 10px;
}

#activity
{
    display: flex;
    flex-flow: row wrap;
    margin-top: 65px;
    width: 100%;
}

#title-activity
{
    margin-left: 50px;
    font-size: 16px;
    font-weight: bold;
}

#bloc-activity
{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "large1 small1 large2 small3"
                         "large1 small1 large2 empty2"
                         "large1 empty1 large2 small4"
                         "large1 small2 large2 small4";
    grid-column-gap: 45px;
}

.card 
{
    box-shadow:
    0 1.4px 2.1px -15px rgba(0, 0, 0, 0.02),
    0 3.3px 4.8px -15px rgba(0, 0, 0, 0.028),
    0 6.3px 8.9px -15px rgba(0, 0, 0, 0.035),
    0 11.2px 16.6px -15px rgba(0, 0, 0, 0.042),
    0 20.9px 34.1px -15px rgba(0, 0, 0, 0.05),
    0 50px 80px -15px rgba(0, 0, 0, 0.07);
    overflow: hidden;
	border-radius: 10px;
    display: grid;
    grid-template-rows: calc(100% - 55px) 55px;
}

.card-1
{
	height: 445px;
    grid-area: large1;
}

.card .activity-name
{
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    font-weight: bold; 
    height: 55px;
    line-height: 55px;
    color: black;
}

.card .activite
{
    height: 100%;
    width: 100%;
    object-fit: cover; /* améliore la netteté des image */
}

.card-2
{
    grid-area: small1;
    height: 235px;
}

.card-3
{
    grid-area: small2; 
    height: 165px; 
}

.card-4
{
    height: 445px;
    grid-area: large2;
}

.card-5
{
	height: 195px;
    grid-area: small3;
}

.card-6
{
	height: 210px;
    grid-area: small4;
}

.sortie
{
    transform: scale(1.05);
}

#information-footer
{
    display: flex;
    flex-flow: row wrap;
    margin-top: 60px;
    background-color: #f2f2f2;
    width: 100%;
    justify-content: space-between;
}

.list-footer
{
    margin-top: 20px;
}

#site-footer
{
    display: flex;
    flex-flow: column wrap;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 55px;
}

#propos-footer
{
    font-size: 12px;
    font-weight: bold;
}

#list-1
{
    font-size: 12px;
    list-style-type: none;
}

#charte-footer
{
    display: flex;
    flex-flow: column wrap;
    margin-top: 50px;
    margin-bottom: 55px;
}

#hebergement-footer
{
    font-size: 12px;
    font-weight: bold;
}

#list-2
{
    font-size: 12px;
    list-style-type: none;
}

#contact-footer
{
    display: flex;
    flex-flow: column wrap;
    margin-top: 50px;
    margin-bottom: 55px;
    margin-right: 370px;
}

#assistance-footer
{
    font-size: 12px;
    font-weight: bold;
}

#list-3
{
    font-size: 12px;
    list-style-type: none;
}

/*@media screen and (max-width: 1443px) {
    #popular {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1415px) {
    #bloc-hebergement {
        justify-content: space-evenly;
    } 

    .carte-4 {
        margin-top: 25px;
    }

    .plus-hebergement {
        padding-bottom: 40px;
    }
}*/

@media screen and (max-width: 1170px) {
    #container {
        flex-flow: column-reverse;
    }

    #hebergement {
        margin-left: 0px;
        width: 100%;
        background-color: #fff;
    }

    #title-hebergement {
        margin-left: 50px;
    }

    #bloc-hebergement {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: space-evenly;
    } 

    .plus-hebergement {
        margin-top: 40px;
        padding-left: 50px;
        padding-bottom: 0;
        background-color: #fff;
    }

    #popular {
        margin-right: 0px;
        border-radius: 0;
        width: 100%;
    }
    
    #title-popular {
        margin-left: 50px;
    }

    .fas.fa-chart-line {
        margin-right: 50px;
    }

    #picture {
        justify-content: space-between;
        flex-flow: row wrap;
        width: auto;
        margin-bottom: 35px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .carte-polular {
        width: 290px;
    }

    .popular-1 {/*ajout 3 media queries max*/
        margin-bottom: 30px; 
    }

    .popular-2 {
        margin-top: 0px;
        margin-bottom: 30px;/*ajout 3 media queries max*/
    }

    .popular-3 {
        margin-top: 0px;
    }

    #bloc-activity {
        grid-template-areas: "large1 small1"
        "large1 small2"
        "small3 large2"
        "small4 large2";
        grid-template-columns: repeat(2, 1fr);
    }

    #contact-footer {
        margin-right: 50px;
    }
}

/*@media screen and (max-width: 1135px) {
    .popular-1 {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 1080px) {
    #bloc-hebergement {
        justify-content: space-between;
    }
}

@media screen and (max-width: 975px) {
    .carte-polular {
        width: 345px;
    }

    #bloc-activity {
        grid-template-areas: "large1 small1"
        "large1 small2"
        "small3 large2"
        "small4 large2";
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 890px) {
    #hebergement {
        margin-left: 0px;
        width: 100%;
    }

    #bloc-hebergement {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: space-between;
    } 

    .carte_5-6 {
        margin-top: 25px;
    }

    .plus-hebergement {
        margin-left: 50px;
    }

    #activity {
        flex-flow: column wrap;
    }

    #contact-footer {
        margin-right: 50px;
    }
}

@media screen and (max-width: 790px) {
    #popular {
        margin-right: 0px;
    }
    
    #title-popular {
        margin-left: 50px;
    }
    
    .fas.fa-chart-line {
        margin-right: 50px;
    }
    
    #picture {
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
        flex-flow: column nowrap;
    }
    
    .carte-polular {
        width: 100%;
    }
    
    .popular-1 {
        margin-bottom: 25px;
    }
        
    .popular-2 {
        margin-bottom: 25px;
    }
    
    .photo-popular {
        width: 40%;
    }
    
    .description-popular {
        margin-left: 30px;
    }
}*/

@media screen and (max-width: 680px) {
    #bloc-hebergement {
        flex-flow: column nowrap;
    }

    .bloc-hebergement {
        margin-top: 20px;
    }

    .carte-hebergement {
        width: auto;
        margin-bottom: 12px;
    }

    .carte-6 {
        margin-bottom: 0px;
    }

    #picture {
        flex-flow: column nowrap;
    }

    .carte-polular {
        width: 100%;
    }

    .image-popular {
        width: 40%;
    }
}

/*@media screen and (max-width: 590px) {
    #hebergement {
        background-color: #fff;
    }

    #bloc-hebergement {
        flex-flow: column;
    } 

    .carte-hebergement {
        width: 100%;
    }

    .plus-hebergement {
        background-color: #fff;
    }

    #bloc-activity {
        grid-template-columns: 100%;
        grid-auto-rows: 190px;
        grid-template-areas: "large1" "small1" "small2" "large2" "small3" "small4";
        grid-gap: 25px;
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 25px;
    }

    .card {
        height: 190px;
    }
}*/

@media screen and (max-width: 520px) { /*530*/
    #logo {
        margin-top: 30px;
        margin-left: 20px;
    }

    nav {
        margin-top: 40px;
        width: 100%;
    }

    .element {
        
        font-size: 13px;
        font-weight: bold;
        margin: 0px;
        padding:  0;
        padding-bottom: 15px;
        border-bottom: 2px solid #f2f2f2;
        border-top: none;
        width: 50%;
        text-align: center;
    }

    .element-1 {
        border-bottom-color: #0065fc;
        
    }

    .element-3 {
        
        position: absolute;
        top: 40px;
        right: 20px;
        padding-bottom: 0px;
        border-bottom: none;
        width: auto;
    }

    .element2 {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 45px;
    }

    /*form {
        margin-left: 20px;
    }*/

    form {
        margin-left: 20px;
        width: auto;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-right: 20px;
    }

    #Marseille {
        width: 100%;
        padding-bottom: 1px;
    }

    .fa-map-marker-alt {
        transform: scale(1.07);
    }

    .recherche {
        width: 100%;
    }

    .recherche::placeholder {
        padding-left: 20px;
        padding-right: 65px;
    }

    .recherche-1 {
        width: 50px;
        border-radius: 15px;
        transform: scale(1.07);
    }

    .recherche-2 {
        display: none;
    }

    .fas.fa-search {
        font-size: 17px;
        background-color: #0065fc;
        color: #fff;
        display: block;
        padding-left: 17px;
        padding-right: 17px;
    }

    #filtre {
        margin-left: 23px;
        margin-top: 35px;
    }

    #filtre-container {
        justify-content: flex-start;
    }

    .filtre {
        margin-left: 20px;
    }

    #info {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }

    .ligne {
        display: flex;
    }

    .city {
        margin-left: 37px;
    }

    #container {
        flex-flow: column-reverse;
    }

    #hebergement {
        background-color: #fff;
        margin-left: 0px;
        margin-top: 40px;
        width: 100%;
        border-radius: 0px;
    }

    #title-hebergement {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
    } 

    .lodging {
        display: flex;
        width: 100%;
    }

    #bloc-hebergement {
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px;
    } 

    .carte-hebergement {
        width: 100%;
    }

    .carte_2-3 {
        width: 100%;
    }    

    .photo-hebergement {
        width: auto;
    }

    .plus-hebergement {
        margin-top: 35px;
        padding-left: 20px;
    }

    #popular {
        width: 100%;
        border-radius: 0px;
        margin-left: 0px;
    }

    #title-popular {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 45px;
    }

    .fas.fa-chart-line {
        margin-right: 0px;
    }

    #picture {
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
    }

    .carte-polular {
        /*width: 100%;*/
        flex-flow: row nowrap;
    }

    .photo-popular {
        width: 125px;
        height: 135px;
    }

    #activity {
        width: 100%;
        height: 1310px;
        margin-top: 60px;
    }

    #title-activity {
        margin-left: 20px;
    }

    #bloc-activity {
        grid-template-columns: 100%;
        grid-auto-rows: 190px;
        grid-template-areas: "large1" "small1" "small2" "large2" "small3" "small4";
        grid-gap: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .card {
        height: 190px;
    }

    #information-footer {
        width: 100%;
        flex-flow: column wrap;
    }

    #site-footer {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    #charte-footer {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    #contact-footer {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/*@media screen and (max-width: 450px) {
    form {
        margin-left: 20px;
        width: auto;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-right: 20px;
    }

    #Marseille {
        width: 100%;
        padding-bottom: 1px;
    }

    .fa-map-marker-alt {
        transform: scale(1.07);
    }

    .recherche {
        width: 100%;
    }

    .recherche::placeholder {
        padding-left: 20px;
        padding-right: 65px;
    }

    .recherche-1 {
        width: 50px;
        border-radius: 15px;
        transform: scale(1.07);
    }

    .recherche-2 {
        display: none;
    }

    .fas.fa-search {
        font-size: 17px;
        background-color: #0065fc;
        color: #fff;
        display: block;
        padding-left: 17px;
        padding-right: 17px;
    }
}

@media screen and (max-width: 312px) {
    .carte-polular {
        flex-flow: row nowrap;
    }

    .description-popular {
        margin-left: 15px;
    }

    .etoile-popular {
        margin-top: 10px;
    }

    .small {
        margin-top: 0px;
        margin-bottom: 15px;
    }
}*/