*
{
    padding: 0;
    margin: 0;
}


body
{
    font-family: 'Raleway', sans-serif;
}

#conteneur
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/*h1
{
    color: #0065fc;
    margin-top: 52px;
    margin-left: 55px;
    font-size: 22px;
}*/

#logo
{
    width:  195px;
    height: 130px;
    margin-top: 50px;
    margin-left: 55px;
}

nav
{
    display: flex;
    flex-flow: row wrap;
    font-family:'Raleway', sans-serif; 
    margin-top: 50px;
    margin-right: 65px;
    font-size: 12px;
}

.element
{
    margin-right: 65px;
}

.element:active
{
    color: black;
}

a
{
    text-decoration: none;
    color: #0065fc;
}

#conteneur2
{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.element2
{
    margin-top: 25px;
    margin-left: 55px;

}

.element2:nth-of-type(1)
{
    font-size: 17px;
    font-weight: bold;
}

.element2:nth-of-type(2)
{
    margin-top: 10px;
    font-size: 13px;
}



form
{
    display: flex;
}

.recherche
{
    height: 50px;
    border-radius: 10px;

}

#choix
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

input
{
    margin-top: 20px;
    margin-left: 55px;
    width: 185px;
    font-size: 15px;
    text-align: center;
    color: black;
    border: 1px solid #f2f2f2;
}

button
{
    background-color: #0065fc;
    color: #fff;
    width: 135px;
    font-size: 15px;
    border: 1px solid #f2f2f2;
}



#filtre
{
    margin-top: 50px;
    margin-left: 55px;
    font-size: 15px;
    font-weight: bold;
}

.filtre
{
    margin-left: 25px;
    margin-top: 30px;
    font-weight: bold;
    background-color: #fff;
    color: black;
    height: 50px;
    border-radius: 10px;
}

.filtre:nth-of-type(1)
{
    margin-left: 30px;
    width: 195px;
}

.filtre:nth-of-type(2)
{
    width: 150px;
}

.filtre:nth-of-type(3)
{
    width: 185px;
}

.filtre:nth-of-type(4)
{
    width: 240px;
}

#info
{
    width: 100%;
    margin-left: 55px;
    margin-top: 40px;
    font-size: 13px;
}

#container
{
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px;
    
}

#container1
{
    display: flex;
    flex-flow: row wrap;
    margin-left: 45px;
    width: 880px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    background-color: #f2f2f2;
}


#bloc1
{
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 45px;
}

#image1
{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    /*margin-top: 25px;*/
    /*margin-left: 40px;*/
}

.image
{
    display: flex;
    flex-flow: column wrap;
    width: 245px;
    height: 200px;
    margin-left: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.image:nth-of-type(1)
{
    margin-left: 40px;
    margin-top: 30px;   
}

.image:nth-of-type(2)
{
    margin-left: 40px;
    margin-top: 30px;       
}

.image:nth-of-type(3)
{
    margin-left: 40px;
    margin-top: 30px;         
}

.image:nth-of-type(4)
{
    margin-left: 40px;
    margin-top: 30px;
}

.image:nth-of-type(5)
{
    margin-left: 40px;
    margin-top: 30px;
}

.image:nth-of-type(6)
{
    margin-left: 40px;
    margin-top: 30px;
}

.photo
{
    margin-left: 5px;
    margin-top: 5px;
    width: 235px;
    height: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.description
{
    font-size: 12px;
    margin-top: 12px;
    margin-left: 15px;
}

.gras
{
    font-weight: bold;
}

#container2
{
    margin-left: 40px;
    /*margin-top: 40px;*/
    width: 420px;
    border: 1px solid #f2f2f2;
    border-radius: 2%;
    background-color: #f2f2f2;
}

#bloc2
{
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 45px;
}

#picture
{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 25px;
    margin-left: 40px;
}

.image2
{
    display: flex;
    flex-flow: row wrap;
    width: 345px;
    height: 145px;
    margin-bottom: 35px;
    background-color: #fff;
    border-radius: 10px;
}

.photo2
{
    width: 130px;
    height: 135px;
    margin-top: 5px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}